
## Config file for AlleleMap-wrapper

export PYTHONPATH=/package/lapels-1.0.5/lib/python2.7/site-packages/:$PYTHONPATH
export PATH=/package/bowtie2-2.2.6/bin/:$PATH
bwt=/package/bowtie2-2.2.6/bin/bowtie2
lapels=/package/lapels-1.0.5/bin/pylapels
samtools=/package/samtools-1.1/samtools
suspenders=/package/suspenders-0.2.5/bin/pysuspenders
tophat=/package/tophat-2.0.14.Linux_x86_64/bin/tophat

# allelic filter script provided with the package
allelefilt=allelicFilter.py

